* {
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

.abba {
  border: 2px solid black;
  /* display: inline-block; */
  width: 250px;
  height: 350px;
}
.abba img {
  width: 100%;
  height: 100%;
}

.names {
  margin: 8px 7px;
  font-size: 35px;
}

.txt-sty {
  margin: 15px 7px;
}
